<h1>Signup</h1>
<form method="POST" action="/register">
  <label for="email">Email</label> <input type="email" name="email" id="email"><br><br>
  <label for="Password">Password</label> <input type="password" name="password"><br><br>
  <input type="submit" value="submit">
</form>
<section><a href="login" title="Login">...or Login</a></section>
