<h1>Signup</h1>
<div class="col-lg-4">
  <form ng-controller="AuthController" ng-submit="register()" class="form-horizontal">
    <div class="form-group">
      <label for="email" class="col-lg-3 control-label">Email</label>
      <div class="col-lg-9"><input ng-model="email" type="email" name="email" id="email" class="form-control"></div>
    </div>

    <div class="form-group">
      <label for="Password" class="col-lg-3 control-label">Password</label>
      <div class="col-lg-9"><input ng-model="password" type="password" name="password" class="form-control"></div>
    </div>

    <div class="form-group">
      <div class="col-lg-9 col-lg-offset-3"><input type="submit" value="Submit" class="btn btn-primary" style="width: 100%"></div>
    </div>
  </form>

  <section class="text-right"><a href="login" title="Login">Got an account? Log In</a></section>
</div>
