<div ng-controller="BookController">
  <%- partial('form.ejs') %>
  <ul ng-repeat="book in bookList">
    <li>
      <p>{{ book.title }} by {{ book.author }}.</p>
      <p>>>> Uploaded by {{ book.user.email }}</p>
      <h3>Ratings</h3>
      <ul ng-repeat="rating in book.ratings">
        <li>
          <p>{{ rating.rating }} by {{ userList[rating.user].email }}</p>
          <p ng-show="rating.comment">Comment: {{ rating.comment }}<p>
        </li>
      </ul>
    </li>
    <hr style="border-color:#bbb; width:350px; margin: 20px 0;">
  </ul>
</div>
